<script>
    document.querySelectorAll('.hero-body').forEach(el => {
        el.classList.add('hero-darken');
    });
    const lines = [
        "Welcome to Ubuntu 24.04 LTS (GNU/Linux 6.8.0-49-generic x86_64)",
        "$ cd /home/eugene-ruby.github.io/<a href=\"/\">{{ page.categories[0] }}</a>",
        "$ ls ../",
        `<div class="terminal-links">
  {% assign sorted_categories = site.categories | sort %}
  {% for category in sorted_categories %}
    <a href="/categories/{{ category[0] | slugify }}" class="terminal-link">{{ category[0] }}</a>
  {% endfor %}
</div>`,
    "$ cat <a title=\"{{ page.title }}\" href=\"{{ page.url }}\">{{ page.slug }}.html</a> > <a href=\"/\">/dev/null</a>"
    ];

    const output = document.getElementById('terminal-content');
    const buffer = [];
    const maxLines = 200;
    let i = 0;

    function printLine() {
        if (i < lines.length) {
            buffer.push(lines[i]);
            if (buffer.length > maxLines) buffer.shift();
            renderBuffer();
            i++;
            setTimeout(printLine, 120);
        } else {
            renderBuffer(true); // рисуем prompt с курсором
        }
    }

    function renderBuffer(withPrompt = false) {
        let content = buffer.slice(); // копия
        if (withPrompt) {
            content.push('$ cd <span class="terminal-cursor">█</span>');
        }
        output.innerHTML = content.join("\n");

        // Всегда скроллим вниз к последнему элементу
        setTimeout(() => {
            const terminal = document.querySelector('.terminal-window');
            if (terminal) {
                terminal.scrollTop = terminal.scrollHeight;
            }
        }, 50);
    }

    printLine();
</script>