<div id="terminal-source">
    <div class="terminal-tabs">
        <div class="terminal-tab-buttons">
            <button class="tab-btn active" data-tab="console">ssh eugene-ruby@github.io</button>
            <button class="tab-btn" data-tab="search">search</button>
        </div>

        <div class="terminal-tab-content" id="console-tab">
            <pre class="terminal-window"><code id="terminal-content"></code></pre>
            <div class="terminal-bottom"></div>
        </div>

        <div class="terminal-tab-content hidden" id="search-tab">
            <pre class="terminal-window"><code id="search-output"></code></pre>
            <div id="terminal-fake-input" class="terminal-input" contenteditable="true" spellcheck="false"></div>
        </div>
    </div>
</div>