---
layout: default
---
{% include terminal.html %}
{% include search.html %}
{% include category_terminal.html %}

<section id="posts" class="section">
    <div class="container categories">
        <h1 class="title is-3">📂 Категория: {{ page.category }}</h1>

        <div class="columns is-multiline">
            {% assign category_name = page.category %}
            {% assign posts = site.categories[category_name] %}
            {% for post in posts %}
            {% include post_card.html post=post %}
            {% endfor %}
        </div>
    </div>
</section>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        document.getElementById('posts')?.scrollIntoView({ behavior: 'smooth' });
    });
</script>
