---
layout: default
---
<div class="content">
    <p>Published: {{ page.date | date: '%b %-d, %Y' }} by {{ page.author }}</p>

    {% if page.series %}
    {% include series.html %}
    {% endif %}

    {{ content }}
</div>

{%- assign raw_tags = page.tags | join: "," -%}
{%- assign cleaned_tags = raw_tags | replace: ",", " " | split: " " | uniq -%}

<div class="tags my-4">
    {% for tag in cleaned_tags %}
    {% include tag.html tag=tag %}
    {% endfor %}
</div>

{%- assign raw_tags = page.tags | join: "," -%}
{%- assign cleaned_tags = raw_tags | replace: ",", " " | split: " " | uniq -%}

{% assign related = site.posts | where_exp: "post", "post.url != page.url" %}
{% assign matches = "" | split: "" %}

{% for post in related %}
{% assign intersect = post.tags | intersect: cleaned_tags %}
{% if intersect.size >= 2 %}
{% assign matches = matches | push: post %}
{% endif %}
{% endfor %}

{% assign shuffled = matches | sample: 3 %}
{% if shuffled.size > 0 %}
<div class="related my-6">
    <h3>🔗 Интересные статьи</h3>
    <div class="columns is-multiline">
        {% for post in shuffled %}
        {% include post_card.html post=post %}
        {% endfor %}
    </div>
</div>
{% endif %}
