---
layout: default
---
{% include terminal.html %}
{% include search.html %}
{% include post_terminal.html %}

<div id="content" class="content">
    {% if page.series %}
    {% include series.html %}
    {% endif %}

    {{ content }}
</div>

<p>🗓 Дата публикации: {{ page.date | date: '%d.%m.%Y' }}, но это не точно...</p>

{%- assign raw_tags = page.tags | join: "," -%}
{%- assign cleaned_tags = raw_tags | replace: ",", " " | split: " " | uniq -%}

<div class="tags my-4">
    {% for tag in cleaned_tags %}
    {% include tag.html tag=tag %}
    {% endfor %}
</div>

{%- assign raw_tags = page.tags | join: "," -%}
{%- assign cleaned_tags = raw_tags | replace: ",", " " | split: " " | uniq -%}

{% assign related = site.posts | where_exp: "post", "post.url != page.url" %}
{% assign matches = "" | split: "" %}

{% for post in related %}
{% assign intersect = post.tags | intersect: cleaned_tags %}
{% if intersect.size >= 2 %}
{% assign matches = matches | push: post %}
{% endif %}
{% endfor %}

{% assign shuffled = matches | sample: 3 %}
{% if shuffled.size > 0 %}
<div class="container categories">
    <div class="related my-6">
        <h5>🔗Если еще не прочитали, то сейчас самое время</h5>
        <div class="columns is-multiline">
            {% for post in shuffled %}
            {% include post_card.html post=post %}
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}

<script>
    document.addEventListener('DOMContentLoaded', () => {
        setTimeout(() => {
            const el = document.getElementById('content');
            if (el) {
                const top = el.getBoundingClientRect().top + window.scrollY - 100;
                window.scrollTo({ top, behavior: 'smooth' });
            }
        }, 100);
    });
</script>
